 .container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
 }
 
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 0, 0);    
  /*line-height: 1.6;
  /* justify-content: center; 
  align-items: center;  */
  /* height: 100vh; 
  margin: 0;  */
}

header {
  background: black;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

header h1 {
  margin: 0;
}

nav {
  background: #444;
  height: 100%;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: row;  
  justify-content: space-between; 
  padding: 20px;
  background: black;
  color: white;  
}

main h2 {
  color: #333;
}

.horizontal-scroll-container {
  width: 400px; 
  height: 600px;
  border: 1px solid #ccc;
  overflow-x: scroll; 
  overflow-y: hidden; 
  white-space: nowrap; 
  background-color: black;
}

.scroll-item {
  display: inline-block; 
  width: 400px;
  height: 600px;
  margin: 10px;
  text-align: center;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  /* padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%; */
  grid-column-start: 1;
  grid-column-end: 4;
}
